@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Licensing*@
@using global::YetaWF.Core.Pages
@using global::YetaWF.Core.Modules
@inherits global::YetaWF.Core.Pages.RazorPage
@{Manager.SetSkinOptions(500, 300, false);}
<!DOCTYPE html>
<html lang="@Manager.CurrentPage.GetPageLanguageId()">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    [[Manager,-MetatagsHtml]]
    [[Manager,-PageTitleHtml]]
    [[ThisPage,-HrefLangHtml]]
</head>
<body class="@Manager.PageCss("popupSmall")">
    @RenderPane("", "MainPane AnyPane")
    @Html.RenderUniqueModuleAddOns()
</body>
</html>
