*._ci_*.css
*._cmpld_.*
*.less.css
*.opt
*.plg
*.scss.css
*.xml

**/obj/
**/bin/**/*.xml
**/bin/**/*.config
**/bin/**/*.manifest

**/Addons/_Addons/**/*.min.js
**/Addons/_Addons/**/*.min.css
**/Addons/_Addons/**/*.min.scss
**/Addons/_Main/**/*.min.js
**/Addons/_Main/**/*.min.css
**/Addons/_Main/**/*.min.scss
**/Addons/_Templates/**/*.min.js
**/Addons/_Templates/**/*.min.css
**/Addons/_Templates/**/*.min.scss
**/Addons/_Skins/**/*.min.js
**/Addons/_Skins/**/*.min.css
**/Addons/_Skins/**/*.min.scss
**/Addons/_Main/Localization/*
**/Addons/YetaWF/**/*.min.js
**/Addons/YetaWF/**/*.min.css
**/Addons/YetaWF/**/*.min.scss

!BootstrapSample/Addons/_Skins/BootstrapSkin/css/*.min.css
!BootstrapSample/Addons/_Skins/BootstrapSkin/css/*.min.scss
!BootstrapSample/Addons/_Skins/BootstrapSkin/js/*.min.js
**/project.lock.json
*.csproj
