:root {
   --body-bg: #5c5c5c;
   --body-clr: #FFFFFF;
   --body-font: normal normal normal 1rem "Open Sans", sans-serif;
   --body-dis-opacity: 0.5;
   --a-clr: #ffffff;
   --a-dec: none;
   --a-clr-hover: #ffffff;
   --a-dec-hover: underline;
   --a-clr-focus: #ffffff;
   --a-dec-focus: underline;
   --overlay-bg: #444444;
   --overlay-opacity: 0.5;
   --mm-0-bg: #5c5c5c;
   --mm-0-clr: #FFFFFF;
   --mm-0-font: normal normal normal 1rem "Open Sans", sans-serif;
   --mm-0-border: none;
   --mm-0-border-radius: 3px;
   --mm-0-padding: 0;
   --mm-0-a-bg: #5c5c5c;
   --mm-0-a-clr: #FFFFFF;
   --mm-0-a-bg-hover: #707070;
   --mm-0-a-clr-hover: #ffffff;
   --mm-0-a-bg-path: #707070;
   --mm-0-a-clr-path: #ffffff;
   --mm-0-a-padding: 0.7em 1.5em;
   --mm-0-a-small-padding: 0.7em 1.5em;
   --mm-0-ddwidth: 16px;
   --mm-0-ddheight: 16px;
   --mm-1-bg: #5c5c5c;
   --mm-1-clr: #FFFFFF;
   --mm-1-font: normal normal normal 1rem "Open Sans", sans-serif;
   --mm-1-border: 1px solid #777;
   --mm-1-border-radius: 3px;
   --mm-1-small-margin: 0.5em;
   --mm-1-padding: 0.3em 0;
   --mm-1-small-padding: 0.5em 0 0.5em 0;
   --mm-1-a-bg: #5c5c5c;
   --mm-1-a-clr: #FFFFFF;
   --mm-1-a-bg-hover: #707070;
   --mm-1-a-clr-hover: #ffffff;
   --mm-1-a-bg-path: #707070;
   --mm-1-a-clr-path: #ffffff;
   --mm-1-a-padding: 0.1em 1.5em 0.1em 1.5em;
   --mm-1-a-small-padding: 0.4em 0.5em 0.4em 0.75em;
   --mm-1-ddwidth: 16px;
   --mm-1-ddheight: 16px;
   --mm-1-mm-width: 800px;
   --mm-1-mm-bg: #5c5c5c;
   --mm-1-mm-clr: #FFFFFF;
   --mm-1-mm-font: normal normal normal 1rem "Open Sans", sans-serif;
   --mm-2-bg: #5c5c5c;
   --mm-2-clr: #FFFFFF;
   --mm-2-font: normal normal normal 1rem "Open Sans", sans-serif;
   --mm-2-border: 1px solid #777;
   --mm-2-border-radius: 3px;
   --mm-2-small-margin: 0.5em;
   --mm-2-padding: 0.3em 0;
   --mm-2-small-padding: 0.5em 0;
   --mm-2-a-bg: #5c5c5c;
   --mm-2-a-clr: #FFFFFF;
   --mm-2-a-bg-hover: #707070;
   --mm-2-a-clr-hover: #ffffff;
   --mm-2-a-bg-path: #707070;
   --mm-2-a-clr-path: #ffffff;
   --mm-2-a-padding: 0.1em 1em 0.1em 1em;
   --mm-2-a-small-padding: 0.4em 0.5em 0.4em 0.75em;
   --mm-2-ddwidth: 16px;
   --mm-2-ddheight: 16px;
   --mm-svg-small-border: 1px solid #777;
   --mm-svg-small-border-radius: 3px;
   --pm-1-bg: #5c5c5c;
   --pm-1-clr: #FFFFFF;
   --pm-1-font: normal normal normal 0.7rem "Open Sans", sans-serif;
   --pm-1-border: 1px solid #777;
   --pm-1-border-radius: 3px;
   --pm-1-padding: 0;
   --pm-1-a-bg: #5c5c5c;
   --pm-1-a-clr: #FFFFFF;
   --pm-1-a-bg-hover: #707070;
   --pm-1-a-clr-hover: #ffffff;
   --pm-1-a-bg-path: #707070;
   --pm-1-a-clr-path: #ffffff;
   --pm-1-a-padding: 0.4em 0.5em 0.4em 0.5em;
   --pm-1-ddwidth: 16px;
   --pm-1-ddheight: 16px;
   --pm-2-bg: #5c5c5c;
   --pm-2-clr: #FFFFFF;
   --pm-2-font: normal normal normal 0.7rem "Open Sans", sans-serif;
   --pm-2-border: 1px solid #777;
   --pm-2-border-radius: 3px;
   --pm-2-padding: 0;
   --pm-2-a-bg: #5c5c5c;
   --pm-2-a-clr: #FFFFFF;
   --pm-2-a-bg-hover: #707070;
   --pm-2-a-clr-hover: #ffffff;
   --pm-2-a-bg-path: #707070;
   --pm-2-a-clr-path: #ffffff;
   --pm-2-a-padding: 0.4em 0.5em 0.4em 0.5em;
   --pm-2-ddwidth: 16px;
   --pm-2-ddheight: 16px;
   --tt-bg: #5c5c5c;
   --tt-clr: #FFFFFF;
   --tt-font: normal normal normal 1rem "Open Sans", sans-serif;
   --tt-border: 1px solid #777;
   --tt-border-radius: 3px;
   --tt-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
   --dialog-bg: #5c5c5c;
   --dialog-clr: #FFFFFF;
   --dialog-title-bg: #6d6d6d;
   --dialog-title-clr: #ffffff;
   --dialog-title-font: #FFFFFF;
   --dialog-line: #777;
   --dialog-border: 1px solid #777;
   --dialog-border-radius: 3px;
   --tst-title-font: normal normal normal 1rem "Open Sans", sans-serif;
   --tst-msg-font: normal normal normal 1rem "Open Sans", sans-serif;
   --tst-border: 1px solid #777;
   --tst-border-radius: 3px;
   --tst-info-bg: #9bef9f;
   --tst-info-clr: #555;
   --tst-info-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
   --tst-info-line: 1px solid #777;
   --tst-warn-bg: orange;
   --tst-warn-clr: rgb(49, 46, 46);
   --tst-warn-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
   --tst-warn-line: 1px solid #777;
   --tst-error-bg: red;
   --tst-error-clr: white;
   --tst-error-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
   --tst-error-line: 1px solid #777;
   --bar-bg: #454545;
   --bar-clr: #f6f6f6;
   --bar-bg-hover: #595959;
   --bar-clr-hover: #ffffff;
   --bar-bg-active: #a6a6a6;
   --bar-clr-active: #ffffff;
   --bar-border: 1px solid #777;
   --bar-h1-font-size: 1.25rem;
   --bar-h1-padding-bottom: 0.7rem;
   --prop-border: 1px solid #777;
   --prop-border-radius: 3px;
   --prop-cat-bg: #454545;
   --prop-cat-clr: #f6f6f6;
   --prop-cat-border: 1px solid #777;
   --prop-cat-border-radius: 3px;
   --inp-bg: #5c5c5c;
   --inp-clr: #FFFFFF;
   --inp-border: 1px solid #777;
   --inp-border-hover: 1px solid #8b8b8b;
   --inp-border-focus: 1px solid #9f9f9f;
   --inp-border-radius: 3px;
   --inp-error-clr: red;
   --inp-ph-clr: white;
   --inp-ph-opacity: 0.5;
   --dd-bg: #5c5c5c;
   --dd-clr: #FFFFFF;
   --dd-bg-hover: #707070;
   --dd-clr-hover: #ffffff;
   --dd-bg-active: #787878;
   --dd-clr-active: #ffffff;
   --dd-bg-focus: #848484;
   --dd-clr-focus: #ffffff;
   --dd-border: 1px solid #777;
   --dd-border-hover: 1px solid #8b8b8b;
   --dd-border-focus: 1px solid #9f9f9f;
   --dd-border-radius: 3px;
   --dd-p-bg: #5c5c5c;
   --dd-p-clr: #FFFFFF;
   --dd-p-bg-hover: #707070;
   --dd-p-clr-hover: #ffffff;
   --dd-p-bg-focus: #848484;
   --dd-p-clr-focus: #ffffff;
   --dd-p-border: 1px solid #777;
   --dd-p-border-radius: 3px;
   --dd-p-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
   --dd-p-shadow-focus: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
   --button-bg: #5c5c5c;
   --button-clr: #FFFFFF;
   --button-bg-hover: #707070;
   --button-clr-hover: #ffffff;
   --button-bg-focus: #848484;
   --button-clr-focus: #ffffff;
   --button-border: 1px solid #777;
   --button-border-radius: 3px;
   --button-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
   --button-focus-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
   --buttonlite-bg: #454545;
   --buttonlite-clr: #f6f6f6;
   --buttonlite-bg-hover: #595959;
   --buttonlite-clr-hover: #ffffff;
   --buttonlite-bg-focus: #6d6d6d;
   --buttonlite-clr-focus: #ffffff;
   --buttonlite-border: 1px solid #777;
   --buttonlite-border-radius: 3px;
   --pbar-bg: #454545;
   --pbar-value-bg: #f6f6f6;
   --pbar-border: 1px solid #777;
   --pbar-border-radius: 3px;
   --tbl-bg: #5c5c5c;
   --tbl-clr: #FFFFFF;
   --tbl-bg-hover: #707070;
   --tbl-clr-hover: #ffffff;
   --tbl-bg-active: #787878;
   --tbl-clr-active: #ffffff;
   --tbl-bg-focus: #848484;
   --tbl-clr-focus: #ffffff;
   --tbl-bg-highlight: white;
   --tbl-clr-highlight: silver;
   --tbl-bg-lowlight: darkslategray;
   --tbl-clr-lowlight: ghostwhite;
   --tbl-font: normal normal normal 0.7rem "Open Sans", sans-serif;
   --tbl-border: 1px solid #777;
   --tbl-border-lite: 1px solid #636363;
   --tbl-border-radius: 3px;
   --tbl-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
   --tbl-header-bg: #454545;
   --tbl-header-clr: #f6f6f6;
   --tbl-header-bg-hover: #595959;
   --tbl-header-clr-hover: #ffffff;
   --tbl-header-bg-active: #a6a6a6;
   --tbl-header-clr-active: #ffffff;
   --tbl-header-font: normal normal normal 0.7rem "Open Sans", sans-serif;
   --tabs-bg: #5c5c5c;
   --tabs-clr: #FFFFFF;
   --tabs-strip-bg: #6d6d6d;
   --tabs-strip-border: 1px solid #777;
   --tabs-strip-border-radius: 3px;
   --tabs-tab-bg: #454545;
   --tabs-tab-clr: #f6f6f6;
   --tabs-tab-bg-hover: #595959;
   --tabs-tab-clr-hover: #ffffff;
   --tabs-tab-bg-active: #a6a6a6;
   --tabs-tab-clr-active: #ffffff;
   --tabs-tab-bg-focus: #cecece;
   --tabs-tab-clr-focus: #ffffff;
   --tabs-tab-border: 1px solid #777;
   --tabs-tab-border-radius: 3px;
   --step-bg: #454545;
   --step-clr: #f6f6f6;
   --step-bg-active: #a6a6a6;
   --step-clr-active: #ffffff;
   --panel-bg: #454545;
   --panel-border: 1px solid #777;
   --panel-border-radius: 0.25rem;
   --panel-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
   --mod-current-bg: #f6f6f6;
   --own-page-noUserAnon: aliceblue;
   --own-page-noAnon: antiquewhite;
   --own-page-noUser: blanchedalmond;
   --own-mod-noUserAnon: aliceblue;
   --own-mod-noAnon: antiquewhite;
   --own-mod-noUser: blanchedalmond;
}
