@charset "UTF-8";
/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Licensing */
/* GLOBALS */
/* GLOBALS */
/* GLOBALS */
h1 {
  margin-top: 1.5rem; }

h2 {
  margin-top: .9rem; }

h3 {
  margin-top: .2rem; }

select.t_native {
  color: #000;
  background-color: #FFF; }

footer {
  padding: 20px 0 20px 0;
  text-align: center; }

fieldset {
  padding: .5ch .5em .5ch .5em;
  margin: 0;
  border: 1px solid silver; }
  fieldset legend {
    font-size: 1rem;
    margin-bottom: .5em;
    width: auto;
    border: 0; }

/* Wide Content - add widecontent to page as Page Css to show the content full width */
.widecontent .maincontainer {
  width: 100%;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-right: 20px; }

.widecontentfill body {
  overflow: hidden; }

.widecontentfill .maincontainer {
  width: 100%;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0; }

.widecontentfill footer,
.widecontentfill .PaneSetFooter {
  display: none; }

.widecontentfill .yPane .yModule {
  margin: 0; }

.widecontentfill .MainPane {
  padding: 0; }

.widecontentfill .YetaWF_Panels_PageBar .t_area .yModule {
  margin-bottom: 10px; }

/* Landing Page - add LandingPage to page as Page Css to show the jumbotron */
/* if there is no jumbotron, add some space below the menu */
body {
  /* needed for specificity) */ }
  body .jumbotron {
    margin-bottom: 0; }
  body:not(.yEditMode) .jumbotron {
    display: none; }
  body.LandingPage .jumbotron {
    display: block; }
  body:not(.yEditMode) .PaneSetFooter {
    display: none; }
  body.LandingPage .PaneSetFooter {
    display: block; }

/* JQUERY-UI */
/* JQUERY-UI */
/* JQUERY-UI */
.yPage .ui-widget, .yPopup .ui-widget {
  /* Override jquery-ui font to restore ours */
  font-size: 14px; }

/* OWNERSHIP */
/* OWNERSHIP */
/* OWNERSHIP */
.ypagerole_noUserAnon {
  background-color: aliceblue !important; }

.ypagerole_noAnon {
  background-color: antiquewhite !important; }

.ypagerole_noUser {
  background-color: blanchedalmond !important; }

.ymodrole_noUserAnon {
  background-color: aliceblue !important;
  padding: 5px; }

.ymodrole_noAnon {
  background-color: antiquewhite !important;
  padding: 5px; }

.ymodrole_noUser {
  background-color: blanchedalmond !important;
  padding: 5px; }

/* PLAIN PAGE SKIN */
/* PLAIN PAGE SKIN */
/* PLAIN PAGE SKIN */
.pageSkinPlain {
  margin: 2ch; }

/* PANE IN EDIT MODE */
/* PANE IN EDIT MODE */
/* PANE IN EDIT MODE */
.yPage.yEditMode .AnyPane {
  padding: 15px 15px 15px 15px;
  border: 1px solid #e4e3e3;
  border-radius: 3px; }

/* MODULES */
/* MODULES */
/* MODULES */
.yPage .yPane.yModule {
  padding-bottom: 15px; }

/* ACTIONS GAP BETWEEN IMAGE AND TEXT  */
/* ACTIONS GAP BETWEEN IMAGE AND TEXT  */
/* ACTIONS GAP BETWEEN IMAGE AND TEXT  */
.y_act_textimg img,
.y_act_textimg i {
  margin-right: .5ch; }

/* PAGE FOOTER & FOOTER PANE */
/* PAGE FOOTER & FOOTER PANE */
/* PAGE FOOTER & FOOTER PANE */
/* LABELS AND PROPERTY LISTS */
/* LABELS AND PROPERTY LISTS */
/* LABELS AND PROPERTY LISTS */
label {
  /* Bold labels are a bit harsh */
  font-weight: normal;
  margin-bottom: 0; }

.yCondense label {
  padding-bottom: 0;
  font-weight: bold; }

/* MEGAMENU */
.YetaWF_Menus_MainMenu ul.t_megamenu_content li.t_megamenu_content {
  line-height: 1.4; }

/* TINYLOGIN MODULE COSMETICS */
/* TINYLOGIN MODULE COSMETICS */
/* TINYLOGIN MODULE COSMETICS */
.skinTinyLogin div.t_haveuser,
.skinTinyLogin div.t_nouser {
  display: inline-block; }

.skinTinyLogin div.t_haveuser.t_link,
.skinTinyLogin div.t_nouser.t_logon {
  padding-right: 1ch; }

/* SEARCHINPUT MODULE COSMETICS */
/* SEARCHINPUT MODULE COSMETICS */
/* SEARCHINPUT MODULE COSMETICS */
.skinSearchInput .t_searchterms .t_labels {
  display: none; }

.skinSearchInput .t_searchterms .t_vals input {
  width: 15ch; }

.skinSearchInput .yform-ajax .t_detailsbuttons input {
  margin-right: 0px; }

.skinSearchInput .yform-partial,
.skinSearchInput .yform-partial div,
.skinSearchInput .t_detailsbuttons {
  display: inline; }

/* MENU EDIT */
/* MENU EDIT */
/* MENU EDIT */
.YetaWF_Menus_MenuEdit .t_view {
  float: left;
  margin-right: 3ch; }
  .YetaWF_Menus_MenuEdit .t_view .t_treeview {
    width: 40ch;
    height: 50em; }

.YetaWF_Menus_MenuEdit .t_details {
  max-width: 700px;
  float: left;
  font-size: smaller; }

.YetaWF_Menus_MenuEdit .t_detailsbuttons input {
  margin-bottom: .2em; }

/* NEWS FEED */
/* NEWS FEED */
/* NEWS FEED */
.YetaWF_Feed_Feed .t_news {
  border: 1px solid silver;
  border-radius: 5px;
  padding: 1em 1ch 1em 1ch; }
  .YetaWF_Feed_Feed .t_news .t_header {
    padding-bottom: 1em; }
    .YetaWF_Feed_Feed .t_news .t_header .t_title {
      font-size: 18px; }
  .YetaWF_Feed_Feed .t_news .t_headerentry {
    border: 1px solid silver;
    border-radius: 5px;
    padding: 1em 1ch 1em 1ch;
    margin-bottom: .5em; }
    .YetaWF_Feed_Feed .t_news .t_headerentry .t_title, .YetaWF_Feed_Feed .t_news .t_headerentry .t_text {
      padding-bottom: .5em; }
    .YetaWF_Feed_Feed .t_news .t_headerentry .t_date {
      font-size: 12px; }
  .YetaWF_Feed_Feed .t_news .t_entry {
    padding-top: .2em;
    padding-bottom: .2em; }

/* MENU */
.YetaWF_Menus .t_megamenu_content {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); }

/* PAGEBAR */
/* PAGEBAR */
/* PAGEBAR */
.yt_panels_pagebarinfo h1 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px; }

/* COSMETICS */
/* COSMETICS */
/* COSMETICS */
.card,
.yt_grid,
.yt_propertylist.t_tabbed {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); }

.yt_grid .tg_table {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.yt_grid .tg_pager {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
