/* Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Licensing */

$screen-lg : 992px;
$base-fontsize: 14px;

/* GLOBALS */
/* GLOBALS */
/* GLOBALS */

h1 { margin-top:1.5rem; }
h2 { margin-top:.9rem; }
h3 { margin-top:.2rem; }

select.t_native {
    color: #000;
    background-color:#FFF;
}

footer {
    padding:20px 0 20px 0;
    text-align: center;
}

fieldset {
    padding:.5ch .5em .5ch .5em;
    margin:0;
    border:1px solid silver;
    legend {
        font-size:1rem;
        margin-bottom: .5em;
        width:auto;
        border:0;
    }
}

/* Wide Content - add widecontent to page as Page Css to show the content full width */
.widecontent {
    .maincontainer  {
        width:100%;
        max-width:100%;
        margin-left:0;
        margin-right:0;
        padding-right: 20px;
    }
}

/* Landing Page - add LandingPage to page as Page Css to show the jumbotron */

/* if there is no jumbotron, add some space below the menu */

body { /* needed for specificity) */
    .jumbotron {
        margin-bottom:0;
    }
    &:not(.yEditMode) .jumbotron {
        display:none;
    }
    &.LandingPage .jumbotron {
        display:block;
    }
    &:not(.yEditMode) .PaneSetFooter {
        display:none;
    }
    &.LandingPage .PaneSetFooter {
        display:block;
    }
}

/* JQUERY-UI */
/* JQUERY-UI */
/* JQUERY-UI */

.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {/* Override jquery-ui font to restore ours */
    font-size: 14px;
}

/* OWNERSHIP */
/* OWNERSHIP */
/* OWNERSHIP */

.ypagerole_noUserAnon {
    background-color:aliceblue !important;
}
.ypagerole_noAnon {
    background-color:antiquewhite !important;
}
.ypagerole_noUser {
    background-color:blanchedalmond !important;
}
.ymodrole_noUserAnon {
    background-color:aliceblue !important;
    padding:5px;
}
.ymodrole_noAnon {
    background-color:antiquewhite !important;
    padding:5px;
}
.ymodrole_noUser {
    background-color:blanchedalmond !important;
    padding:5px;
}

/* PLAIN PAGE SKIN */
/* PLAIN PAGE SKIN */
/* PLAIN PAGE SKIN */

.pageSkinPlain {
    margin: 2ch;
}

/* PANE IN EDIT MODE */
/* PANE IN EDIT MODE */
/* PANE IN EDIT MODE */

.yPage.yEditMode .AnyPane {
    padding: 15px 15px 15px 15px;
    border:1px solid #e4e3e3;
    border-radius:3px;
}

/* MODULES */
/* MODULES */
/* MODULES */

.yPage .yPane.yModule {
    padding-bottom:15px;
}
.yPopupDyn .yModule {
    padding-bottom:15px;
}

/* ACTIONS GAP BETWEEN IMAGE AND TEXT  */
/* ACTIONS GAP BETWEEN IMAGE AND TEXT  */
/* ACTIONS GAP BETWEEN IMAGE AND TEXT  */

.y_act_textimg img,
.y_act_textimg i {
    margin-right: .5ch;
}

/* PAGE FOOTER & FOOTER PANE */
/* PAGE FOOTER & FOOTER PANE */
/* PAGE FOOTER & FOOTER PANE */

/* LABELS AND PROPERTY LISTS */
/* LABELS AND PROPERTY LISTS */
/* LABELS AND PROPERTY LISTS */

label { /* Bold labels are a bit harsh */
    font-weight: normal;
    margin-bottom: 0;
}
.yCondense label {
    padding-bottom:0;
    font-weight:bold;
}

/* Small screens */

@media (max-width: $screen-lg) {
    #yEditControlDiv {
        display:none;
    }
    #yPageControlDiv {
        display:none;
    }
    label {
        font-weight:bold;
    }
}

/* POPUP */
/* POPUP */
/* POPUP */

.yPopup,
div.k-window-content.yPopupDyn {
    padding:.5em 2ch 0 2ch;
}

/* MEGAMENU */

.YetaWF_Menus_MainMenu ul.t_megamenu_content li.t_megamenu_content {
    line-height:1.4;
}

/* TINYLOGIN MODULE COSMETICS */
/* TINYLOGIN MODULE COSMETICS */
/* TINYLOGIN MODULE COSMETICS */

.skinTinyLogin {
    div.t_haveuser,
    div.t_nouser {
        display: inline-block;
    }
    div.t_haveuser.t_link,
    div.t_nouser.t_logon {
        padding-right:1ch;
    }
}

/* SEARCHINPUT MODULE COSMETICS */
/* SEARCHINPUT MODULE COSMETICS */
/* SEARCHINPUT MODULE COSMETICS */

.skinSearchInput {
    .t_searchterms .t_labels {
        display:none;
    }
    .t_searchterms .t_vals input {
        width: 15ch;
    }
    .yform-ajax .t_detailsbuttons input {
        margin-right:0px;
    }
}

.skinSearchInput .yform-partial,
.skinSearchInput .yform-partial div,
.skinSearchInput .t_detailsbuttons {
    display:inline;
}

/* MENU EDIT */
/* MENU EDIT */
/* MENU EDIT */

.YetaWF_Menus_MenuEdit {
    .t_view {
        float:left;
        margin-right:3ch;
        .t_treeview {
            width:40ch;
            height:50em;
        }
    }
    .t_details {
        float:left;
        font-size:smaller;
    }
}

/* NEWS FEED */
/* NEWS FEED */
/* NEWS FEED */

.YetaWF_Feed_Feed {
    .t_news {
        border:1px solid silver;
        border-radius:5px;
        padding:1em 1ch 1em 1ch;
        .t_header {
            padding-bottom:1em;
            .t_title {
                font-size: $base-fontsize + 4;
            }
        }
        .t_headerentry {
            border:1px solid silver;
            border-radius:5px;
            padding:1em 1ch 1em 1ch;
            margin-bottom:.5em;
            .t_title, .t_text {
                padding-bottom:.5em;
            }
            .t_date {
                font-size: $base-fontsize - 2;
            }
        }
        .t_entry {
            padding-top:.2em;
            padding-bottom:.2em;
        }
    }
}

