/* Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Licensing */

$base-font: 'Pontano Sans', Arial, Helvetica, sans-serif;
$base-fontsize: 14px;
$base-color: #666;

$footer-bgcolor:#222;
$footer-color:#aaa;

$screen-md : 992px;

/* GLOBALS */
/* GLOBALS */
/* GLOBALS */

body {
    font-family:$base-font;
    font-size:$base-fontsize;
    color:$base-color;
}
.jumbotron h1, .jumbotron .h1 {
    font-size: 35px;
}
h1,.h1 {
    font-size:30px;
}
h2,.h2 {
    font-size:24px;
}
h3,.h3 {
    font-size:20px;
}
h4,.h4 {
    font-size:18px;
}
h5,.h5 {
    font-size:16px;
}

fieldset {
    padding:.5ch .5em .5ch .5em;
    margin:0;
    border:1px solid silver;
    legend {
        margin-bottom: .5em;
        font-size:$base-fontsize;
        width:auto;
        border:0;
    }
}

/* Wide Content */
.widecontent {
    .maincontainer  {
        width:100%;
        padding-right: 20px;
    }
}

/* JQUERY-UI */
/* JQUERY-UI */
/* JQUERY-UI */

.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {/* Override jquery-ui font to restore ours */
    font-family: $base-font;
    font-size: 100%;
}

/* OWNERSHIP */
/* OWNERSHIP */
/* OWNERSHIP */

.ypagerole_noUserAnon {
    background-color:aliceblue !important;
}
.ypagerole_noAnon {
    background-color:antiquewhite !important;
}
.ypagerole_noUser {
    background-color:blanchedalmond !important;
}
.ymodrole_noUserAnon {
    background-color:aliceblue !important;
    padding:5px;
}
.ymodrole_noAnon {
    background-color:antiquewhite !important;
    padding:5px;
}
.ymodrole_noUser {
    background-color:blanchedalmond !important;
    padding:5px;
}

/* PANE IN EDIT MODE */
/* PANE IN EDIT MODE */
/* PANE IN EDIT MODE */

.yPage.yEditMode .AnyPane {
    padding: 15px 15px 15px 15px;
    background:#fff;
    border:1px solid #e4e3e3;
    border-radius:3px;
}

/* PAGE/MODULE EDIT CONTROL */
/* PAGE/MODULE EDIT CONTROL */
/* PAGE/MODULE EDIT CONTROL */

#yEditControlDiv {
    top:10px;
    right:5ch;
}
#yPageControlDiv {
    top:50px;
    right:5ch;
}

.relocateControls #yEditControlDiv {
    top:220px;
}
.relocateControls #yPageControlDiv {
    top:260px;
}

/* MODULES */
/* MODULES */
/* MODULES */

.AnyPane .yModule {
    padding-bottom:15px;
}

/* ACTIONS GAP BETWEEN IMAGE AND TEXT  */
/* ACTIONS GAP BETWEEN IMAGE AND TEXT  */
/* ACTIONS GAP BETWEEN IMAGE AND TEXT  */

.y_act_textimg img {
    margin-right:.5ch;
}

/* PAGE FOOTER & FOOTER PANE */
/* PAGE FOOTER & FOOTER PANE */
/* PAGE FOOTER & FOOTER PANE */

.PaneSetFooter {
    background: $footer-bgcolor;
    /*background-image: url(Images/footer-bg.jpg);
    background-repeat: repeat-x;*/
    color: $footer-color;
    .FooterPane {
        background: $footer-bgcolor;
    }
    .FooterPane .modStandard {
        margin-bottom:0;
    }
    h1, .h1 {
        font-size:20px
    }
}

footer {
    padding:20px 0 20px 0;
    font-size: $base-fontsize - 3;
    text-align: center;
    background-color: #000;
    color: $base-color;
}

/* LABELS AND PROPERTY LISTS */
/* LABELS AND PROPERTY LISTS */
/* LABELS AND PROPERTY LISTS */

label {/* Bold labels are a bit harsh */
    font-weight:normal;
}

/* Small screens */

@media (max-width: $screen-md) {
    #yEditControlDiv {
        display:none;
    }
    #yPageControlDiv {
        display:none;
    }
    label {
        color:$base-color;
        font-weight:bold;
    }
}

/* POPUP */
/* POPUP */
/* POPUP */

.yPopup {
    margin: .5em 2ch .5em 2ch;
}

/* PRINTING */
/* PRINTING */
/* PRINTING */

@media print {
    #yEditControlDiv,
    #yPageControlDiv,
    .yt_moduleactions,
    .yModuleLinksContainer,
    .yNoPrint,
    form.yform-ajax .t_detailsbuttons,
    .cke .cke_top
    {
        display: none;
    }

    /* Don't print href value for links - (Why would you, Bootstrap?) */
    a[href]:after {
        content: none !important;
    }
}
@media screen {
    body.yDisplayMode .yPrintOnly
    {
        display: none;
    }
}

/* SKINSITESELECTOR */
/* SKINSITESELECTOR */
/* SKINSITESELECTOR */

@media (max-width: $screen-md) {
    .skinSiteSelector {
        display:none;
    }
}
.skinSiteSelector.modStandard {
    position:absolute;
    left:1ch;
    top:20px;
    z-index:1500;
}

/* SKINLOGINSELECTOR */
/* SKINLOGINSELECTOR */
/* SKINLOGINSELECTOR */

@media (max-width: $screen-md) {
    .skinLoginSelector {
        display:none;
    }
}
.skinLoginSelector.modStandard {
    position:absolute;
    left:1ch;
    top:50px;
}

/* TINYLOGIN MODULE COSMETICS */
/* TINYLOGIN MODULE COSMETICS */
/* TINYLOGIN MODULE COSMETICS */

.skinTinyLogin {
    div.t_haveuser,
    div.t_nouser {
        display: inline-block;
    }
    div.t_haveuser.t_link,
    div.t_nouser.t_logon {
        padding-right:1ch;
    }
}

/* SEARCHINPUT MODULE COSMETICS */
/* SEARCHINPUT MODULE COSMETICS */
/* SEARCHINPUT MODULE COSMETICS */

.skinSearchInput.navbar-form.navbar-right {
    margin-right:-15px;/*we have two modules in the same column*/
}
.skinSearchInput {
    .t_searchterms .t_labels {
        display:none;
    }
    .t_searchterms .t_vals input {
        width: 15ch;
    }
    .yform-ajax .t_detailsbuttons input {
        margin-left:.5ch;
        margin-right:0px;
    }
}

.skinSearchInput .yform-partial,
.skinSearchInput .yform-partial div,
.skinSearchInput .t_detailsbuttons {
    display:inline;
}

/* NEWS FEED */
/* NEWS FEED */
/* NEWS FEED */

.YetaWF_Feed_Feed {
    .t_news {
        border:1px solid silver;
        padding:1em 1ch 1em 1ch;
        .t_header {
            padding-bottom:1em;
            .t_title {
                font-size: $base-fontsize + 4;
            }
        }
        .t_headerentry {
            border:1px solid silver;
            padding:1em 1ch 1em 1ch;
            margin-bottom:.5em;
            .t_title, .t_text {
                padding-bottom:.5em;
            }
            .t_date {
                font-size: $base-fontsize - 2;
            }
        }
        .t_entry {
            padding-top:.2em;
            padding-bottom:.2em;
        }
    }
}


/* MENU EDIT */
/* MENU EDIT */
/* MENU EDIT */

.YetaWF_Menus_MenuEdit {
    .t_view {
        float:left;
        margin-right:5ch;
        .t_treeview {
            width:50ch;
            height:40em;
        }
    }
    .t_details {
        width:1000px;
        float:left;
        font-size:smaller;
    }
}

/* SEARCH CONTROL MODULE */
/* SEARCH CONTROL MODULE */
/* SEARCH CONTROL MODULE */

.skinSearchControl.yModule.YetaWF_Search_SearchControl  {
    right: 5ch;
    top: 14em;
}

/* TINY VISITORS MODULE */
/* TINY VISITORS MODULE */
/* TINY VISITORS MODULE */

.YetaWF_Visitors_TinyVisitors {
    position:absolute;
    right:15px;
    top:40px;
}
@media (max-width: $screen-md) {
    .YetaWF_Visitors_TinyVisitors {
        display:none;
    }
}
/* Documentation */
/* Documentation */
/* Documentation */

body.pageSkinDocX {

    .navbar-nav { /* Header (menu) */
        li a { font-size: 14px; }
    }
    /* override max dropdown width for the dropdowns where the content is too large */
    .nav > li.dropdown .dropdown-menu {
        max-width:50ch!important;
    }

    .MainPane {
        @media screen {
            position:fixed;
            bottom:0px;
            overflow:scroll;
        }
        @media print {
            position:relative;
            left: 0px !important;
            top: 0px !important;
            width:100% !important;
        }
    }
    #yEditControlDiv, #yPageControlDiv {
        position:fixed;
    }
    #tabToggle {
        margin-left:2ch;
    }
}

.popupShareLink {
    overflow:hidden;
    .yt_propertylist {
        .t_labels {
            display:none;
        }
        .t_vals {
            overflow: visible;
            width: 560px;
            input {
                width:auto;
            }
        }
    }
}

/* MEGAMENU */
/* MEGAMENU */
/* MEGAMENU */

/* Header (menu) */
/* override max dropdown width for the dropdowns where the content is too large */
/*.nav > li.dropdown .dropdown-menu {
    max-width:50ch!important;
}*/

